@tailwind base;
@tailwind components;
@tailwind utilities;









	@font-face {
		font-family: 'HelveticaNeueCyr';
		src: local('HelveticaNeueCyr-Bold'), url('./fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
		font-weight: 700;
		font-style: normal;
	}
	
	@font-face {
		font-family: 'HelveticaNeueCyr';
		src: local('HelveticaNeueCyr-Medium'), url('./fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
		font-weight: 500;
		font-style: normal;
	}
	@font-face {
		font-family: 'HelveticaNeueCyr';
		src: local('HelveticaNeueCyr-Roman'),url('./fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
		
	}




	body {
		font-family:'HelveticaNeueCyr' ;
	}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

main {
    flex: 0 1 100%;
}


.header-link.active {
    color:#186FD4;
}


.swiper-pagination-bullet {
	border:3px solid rgba(255, 255, 255, 1); /* измените на желаемый цвет */
	width: 17px; /* измените на желаемый размер */
	height: 17px; /* измените на желаемый размер */
	border-radius: 50%; /* чтобы сделать их круглыми */
}
.swiper-pagination-bullet-active {
	background-color: transparent;
	border:3px solid #117FE3;
}
.swiper-wrapper {
	align-items:stretch;
}

    .ham {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .hamRotate.active {
        transform: rotate(45deg);
    }
    .line {
        fill:none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke:#000;
        stroke-width:5.5;
        stroke-linecap:round;
    }
    .ham1 .top {
        stroke-dasharray: 40 139;
    }
    .ham1 .bottom {
        stroke-dasharray: 40 180;
    }
    .ham1.active .top {
        stroke-dashoffset: -98px;
    }
    .ham1.active .bottom {
        stroke-dashoffset: -138px;
    }



    .button-rybric:not(:last-child) {
        border-bottom: 1px solid #F4F4F4;
    }



    .checked {
        position: relative;
        display: flex;
        gap: 10px;
    }

    .checked input[type="checkbox"]:checked ~ .checked__span,
    .checked input[type="radio"]:checked ~ .checked__span {
        background: #186FD4;
    }
    .checked input[type="checkbox"]:checked ~ .checked__span::after,
    .checked input[type="radio"]:checked ~ .checked__span::after {
        opacity: 1;
    }
    .checked input[type="checkbox"],
    .checked input[type="radio"] {
        display: none;
    }
.checked__span {
    min-width: 26px;
    position: relative;
    height: 26px;
    border-radius: 4px;
    display: flex;
    border:1px solid #DFE0E2;
}
.checked__span::after {
    content: "✓";
    opacity: 0;
    left: 50%;
    top: 50%;
    color: #FFF;
    position: absolute;
    transform: translate(-50%, -50%);
}

input[type = 'search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
